/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');

/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

body{
    background-color: rgb(190, 184, 190);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Gelasio', serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 600px;
    background-color: rgb(162, 140, 220);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(34, 42, 93);
}

.myWeek2{
    margin: auto;
    max-width: 600px;
    background-color: rgb(202, 124, 40);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(124, 60, 0);
}

.myWeek3{
    margin: auto;
    max-width: 600px;
    background-color: rgb(180, 46, 128);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(9, 1, 6);  
}

.myWeek4{
    margin: auto;
    max-width: 600px;
    background-color: rgb(183, 46, 46);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(9, 1, 6);  
}

.myWeek5{
    margin: auto;
    max-width: 1000px;
    background-color: rgb(16, 152, 82);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(9, 1, 6);  
}

.myWeek7{
    margin: auto;
    max-width: 600px;
    background-color: rgb(6, 85, 158);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(9, 1, 6);  
}
/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(223, 223, 223);
    width:595px;
    height:378px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
      
}
    
#Chart3{
    background-color: rgb(255, 255, 255);
    width:395px;
    height:379px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 249, 254);
    display: block;
    margin: 0 auto;

}

#Chart4{
    background-color: rgb(255, 253, 255);
    width:402px;
    height:377px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin: 0 auto;
}

#Chart5{
    background-color: rgb(255, 253, 255);
    width:483px;
    height:331px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin: 0 auto; 
}

#Chart6{
    background-color: rgb(255, 253, 255);
    width:319px;
    height:280px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin: 0 auto; 
}

#Chart7{
    background-color: rgb(255, 253, 255);
    width:470px;
    height:299px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin: 0 auto; 
}

#Chart8,#Chart9,#Chart10,#Chart11,#Chart12,#Chart13,#Chart14,#Chart15,#Chart16{
    background-color: rgb(255, 253, 255);
    width:300px;
    height:280px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    display: inline-block;
   
}

#Chart17{
    background-color: rgb(255, 253, 255);
    width:300px;
    height:330px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin: 0 auto; 
}

#Chart18{
    background-color: rgb(255, 253, 255);
    width:420px;
    height:350px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    margin: 0 auto; 
}



#link1{
    background-color: rgba(0, 47, 167, .5);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 0px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;
    text-align: center;
    
}

#link1:hover{

    background-color: rgba(0, 47, 167, .8);

    border:2px;
    border-color:rgb(133, 133, 129);
    border-style: solid;
    
}


#link2{
    background-color: rgba(0, 47, 167, .5);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 0px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    text-decoration: none;

    text-align: center;
    
}

#link2:hover{

    background-color: rgba(0, 47, 167, .8);

    border:2px;
    border-color:rgb(133, 133, 129);
    border-style: solid;
    
}




