h1, h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Merriweather', serif;
    text-align: center;

}

h3{
  color:rgb(0, 0, 0);
  font-family: 'Merriweather', serif;
  text-align: center;
  font-size: 70px;
}



body {
  background: linear-gradient(-90deg,#fbf8cc, #fde4cf, #ffcfd2, #f1c0e8, #cfbaf0, #a3c4f3, #90dbf4, #8eecf5, #98f5e1, #b9fbc0);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border:1px solid transparent;
  max-width: 100%;

  
  
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

h1, p{
    text-align: center;
}

.wrap{
    background-color: #9d96b8ff;
}


.Project1{
  align-content: center;
  margin: auto;
  max-width: 900px;
  background-color: transparent;  
  border-width: 0px;
  border-style: solid;
  border-radius: 0px;
  border-color: transparent;
}

.Project2{
  align-content: center;
  margin: auto;
  max-width: 900px;
  background-color: transparent;  
  border-width: 3px;
  border-style: solid;
  border-radius: 0px;
  border-color: transparent;
}

.Project3{
  align-content: center;
  margin: auto;
  max-width: 900px;
  background-color: transparent;  
  border-width: 3px;
  border-style: solid;
  border-radius: 0px;
  border-color: transparent;
  
}

.Project4{
  align-content: center;
  margin: auto;
  max-width: 900px;
  background-color: transparent;  
  border-width: 3px;
  border-style: solid;
  border-radius: 0px;
  border-color: transparent;
}


#Chart5{
  background-color: rgb(255, 255, 255);;
  width:360px;
  height:auto;
  padding: 10px;
  border-width: medium;
  border-style: round;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  overflow: scroll;
    
}

#Chart3{
  background-color: rgb(255, 255, 255);;
  width:450px;
  height:auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding: 10px;
  overflow: scroll;
    
}

#Chart1{
  background-color: rgb(255, 255, 255);
  width:265px;
  height:auto;
  border-width: auto;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding: 10px;
    
}

#Chart2{
  background-color: rgb(255, 255, 255);
  width:265px;
  height:auto;
  border-width: auto;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding: 10px;
    
}

#Chart4{
  background-color: rgb(255, 255, 255);
  width:340px;
  height:auto;
  border-width: auto;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding: 10px;
    
}

#Chart6{
  background-color: rgb(255, 255, 255);
  width:380px;
  height:auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding: 10px;
  
    
}

#Chart7{
  background-color: rgb(255, 255, 255);
  width:470px;
  height:auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  display: block;
  margin: 0 auto;
  padding: 10px;
  
    
}




.chart:hover {
    
    transform: scale(1.04, 1.04);
    transition: 0.6s;
    
  }

/*inspired by Christina Pham */

  .navigation {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 100%;
    background: transparent no-repeat center fixed;
    transition: 0.5s;
    overflow: hidden;
    color: rgb(164, 164, 164);
    font-family: 'Lato', sans-serif;
   
  }
  
  .navigation:hover,
  .navigation.active {
    width: 250px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
  }
  
  .navigation ul li:hover {
    background: rgb(192, 188, 190);
    transition: 0.5s ease;
    color: rgb(203, 199, 201)
  }
  
  .navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
  }
  
  .navigation ul li a:hover {
    color: white;
  }
  
  .navigation li a.active {
      background-color: transparent;
      color: white;
      font-weight: 900;
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  
  .navigation ul li a .icon .fa {
    font-size: 24px;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }

  

  
  @media only screen and (max-width: 500px) {

    body{
      max-width: 80%;
      margin:auto ;
      
      
    }

    .Project1{
      align-content: auto;
      margin: auto;
      max-width: 900px;
      background-color: transparent;  
      border-width: 0px;
      border-style: solid;
      border-radius: 0px;
      border-color: transparent;
    }
    
    .Project2{
      align-content: center;
      margin: auto;
      max-width: 900px;
      background-color: transparent;  
      border-width: 3px;
      border-style: solid;
      border-radius: 0px;
      border-color: transparent;
    }
    
    .Project3{
      align-content: center;
      margin: auto;
      max-width: 900px;
      background-color: transparent;  
      border-width: 3px;
      border-style: solid;
      border-radius: 0px;
      border-color: transparent;
      
    }
    
    .Project4{
      align-content: center;
      margin: auto;
      max-width: 900px;
      background-color: transparent;  
      border-width: 3px;
      border-style: solid;
      border-radius: 0px;
      border-color: transparent;
    }

  

    #Chart5{
      background-color: rgb(255, 255, 255);;
      width:360px;
      height:auto;
      padding: 10px;
      border-width: medium;
      border-style: round;
      border-radius: 15px;
      border-color: rgb(255, 255, 255);
      display: block;
      margin: 0 auto;
      overflow: scroll;
      max-width:300px;
        
    }
    
    #Chart3{
      background-color: rgb(255, 255, 255);;
      width:450px;
      height:auto;
      border-width: 1px;
      border-style: solid;
      border-radius: 15px;
      border-color: rgb(255, 255, 255);
      display: block;
      margin: 0 auto;
      padding: 10px;
      overflow: scroll;
      max-width:300px;
        
    }
    
    #Chart1{
      background-color: rgb(255, 255, 255);
      width:265px;
      height:auto;
      border-width: auto;
      border-style: solid;
      border-radius: 15px;
      border-color: rgb(255, 255, 255);
      display: block;
      margin: 0 auto;
      padding: 10px;
      overflow: scroll;
      max-width:300px;
        
    }
    
    #Chart2{
      background-color: rgb(255, 255, 255);
      width:265px;
      height:auto;
      border-width: auto;
      border-style: solid;
      border-radius: 15px;
      border-color: rgb(255, 255, 255);
      display: block;
      margin: 0 auto;
      padding: 10px;
      overflow: scroll;
      max-width:300px;
    }
    
    #Chart4{
      background-color: rgb(255, 255, 255);
      width:340px;
      height:auto;
      border-width: auto;
      border-style: solid;
      border-radius: 15px;
      border-color: rgb(255, 255, 255);
      display: block;
      margin: 0 auto;
      padding: 10px;
      overflow: scroll;
      max-width:300px;
    }
    
    #Chart6{
      background-color: rgb(255, 255, 255);
      width:380px;
      height:auto;
      border-width: 2px;
      border-style: solid;
      border-radius: 15px;
      border-color: rgb(255, 255, 255);
      display: block;
      margin: 0 auto;
      padding: 10px;
      overflow: scroll;
      max-width:300px;
        
    }

    #Chart7{
      background-color: rgb(255, 255, 255);
      width:470px;
      height:auto;
      border-width: 2px;
      border-style: solid;
      border-radius: 15px;
      border-color: rgb(255, 255, 255);
      display: block;
      margin: 0 auto;
      padding: 10px;
      overflow: scroll;
      max-width:300px;
        
    }

    .navigation {
      position: fixed;
      margin: 0;
      padding: 0;
      width: 60px;
      height: 7%;
      background: rgb(136, 136, 136) no-repeat center fixed;
      transition: 0.5s;
      overflow: scroll;
      color: rgb(164, 164, 164);
      font-family: 'Lato', sans-serif;
     
    }
    
   
  
  }
    
  


  
  